<configuration>
  <!-- ResourceManager hostname -->
  <property>
    <name>yarn.resourcemanager.hostname</name>
    <value>localhost</value>
  </property>

  <!-- Enable Kerberos for YARN -->
  <property>
    <name>yarn.resourcemanager.principal</name>
    <value>rm/_HOST@{{ realm }}</value>
  </property>

  <property>
    <name>yarn.nodemanager.principal</name>
    <value>nm/_HOST@{{ realm }}</value>
  </property>

  <!-- NodeManager local dirs -->
  <property>
    <name>yarn.nodemanager.local-dirs</name>
    <value>/var/lib/hadoop/yarn/local</value>
  </property>

  <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>/var/lib/hadoop/yarn/logs</value>
  </property>
</configuration>
