[Unit]
Description=Hadoop MapReduce HistoryServer
After=network.target

[Service]
User=hadoop
Group=hadoop
ExecStart={{ hadoop_install_dir }}/hadoop/bin/mapred historyserver
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
