[Unit]
Description=Hadoop NameNode
After=network.target

[Service]
User=hadoop
Group=hadoop
ExecStart={{ hadoop_install_dir }}/hadoop/bin/hdfs namenode
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
