dn: {{ basedn }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: Hadoop Test Directory
dc: {{ basedn.split(',')[0].split('=')[1] }}

dn: {{ ldap_rootdn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: Manager
description: LDAP Administrator
userPassword: {{ ldap_rootpw }}
