dn: {{ basedn }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: {{ basedn | regex_replace('dc=', '') | regex_replace(',', ' ') | title }} Cluster
dc: {{ basedn.split(',')[0].split('=')[1] }}
