dn: {{ basedn }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: Hadoop Test
dc: hadoop

dn: {{ ldap_rootdn }}
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: Manager
description: LDAP administrator
userPassword: {{ ldap_rootpw }}
