dn: olcDatabase={2}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ basedn }}
-
replace: olcRootDN
olcRootDN: {{ ldap_rootdn }}
-
replace: olcRootPW
olcRootPW: {{ rootpw_hash.stdout }}
