[kdcdefaults]
 kdc_ports = 88
 kdc_tcp_ports = 88

[realms]
 {{ realm }} = {
   database_module = openldap_ldapconf
   acl_file = /var/kerberos/krb5kdc/kadm5.acl
   dict_file = /usr/share/dict/words
   admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab
   key_stash_file = /var/kerberos/krb5kdc/.k5.{{ realm }}
   ldap_service_password_file = {{ kerberos_service_keyfile }}
   ldap_kdc_dn = {{ kerberos_service_dn }}
   ldap_kadmind_dn = {{ kerberos_service_dn }}
   ldap_servers = ldap://localhost
   ldap_conns_per_server = 5
 }

[dbmodules]
 openldap_ldapconf = {
   db_library = kldap
   ldap_kerberos_container_dn = {{ kerberos_container_dn }}
   ldap_kdc_dn = {{ kerberos_service_dn }}
   ldap_kadmind_dn = {{ kerberos_service_dn }}
   ldap_service_password_file = {{ kerberos_service_keyfile }}
   ldap_servers = ldap://localhost
   ldap_conns_per_server = 5
 }
