# Organizational Unit for Kerberos
dn: {{ krb_subtree }}
objectClass: top
objectClass: organizationalUnit
ou: Kerberos

# Kerberos service account (used by KDC to bind to LDAP)
dn: {{ kdc_ldap_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: krb-svc
description: Kerberos LDAP service account
userPassword: {{ kdc_ldap_pw }}
