dn: cn=Kerberos,{{ basedn }}
objectClass: top
objectClass: krbContainer
cn: Kerberos

dn: {{ kdc_ldap_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: krb-svc
description: Kerberos service account
userPassword: {{ kdc_ldap_pw }}
