# Kerberos LDAP service account
dn: {{ krb_svc_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: krb-svc
description: Kerberos LDAP service account
userPassword: {{ krb_svc_pw }}
