# Kerberos service account for KDC to bind to LDAP
dn: {{ kerberos_service_dn }}
objectClass: top
objectClass: person
cn: kerberos-service
sn: kerberos-service
description: Kerberos LDAP Service Account
userPassword: {{ kerberos_service_password }}
