# Kerberos service account for KDC to bind to LDAP
dn: {{ kdc_ldap_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: krb-svc
description: Kerberos LDAP Service Account
userPassword: {{ kdc_ldap_pw }}
