dn: {{ kdc_ldap_dn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ kdc_ldap_dn.split(',')[0].split('=')[1] }}
description: Kerberos KDC service account
userPassword: {{ kdc_pw_hash.stdout }}